In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import random
from time import sleep

In [3]:
#Read csv which has wiki urls
df = pd.read_csv("old_imdb_with_wiki_urls.csv", na_values = "NaN")
df.head()

       title  year                                      wikipedia_url
0     Kanoon  1960               https://en.wikipedia.org/wiki/Kanoon
1   Bewaqoof  1960             https://en.wikipedia.org/wiki/Bewaqoof
2  Honeymoon  1960                                                NaN
3  Lal Quila  1960  https://en.wikipedia.org/wiki/Lal_Qila_(disamb...
4   Maa Baap  1960                                                NaN

In [4]:
df.shape

(8340, 3)

In [5]:
df_new = df[df['wikipedia_url'].notna()]

In [6]:
df_filter = df_new[~df_new['wikipedia_url'].str.contains("List_of")]

In [7]:
df_filter

,title,year,wikipedia_url
0,Kanoon,1960,https://en.wikipedia.org/wiki/Kanoon
1,Bewaqoof,1960,https://en.wikipedia.org/wiki/Bewaqoof
3,Lal Quila,1960,https://en.wikipedia.org/wiki/Lal_Qila_(disamb...
7,Love in Simla,1960,https://en.wikipedia.org/wiki/Love_in_Simla
8,Anuradha,1960,https://en.wikipedia.org/wiki/Anuradha_(1960_f...
...,...,...,...
8329,Aankhon Ki Gustaakhiyan,2025,https://en.wikipedia.org/wiki/Aankhon_Ki_Gusta...
8332,Sant Tukaram,2025,https://en.wikipedia.org/wiki/Tukaram_(disambi...
8334,Mahavatar Narsimha,2025,https://en.wikipedia.org/wiki/Mahavatar_Narsimha
8335,Son of Sardaar 2,2025,https://en.wikipedia.org/wiki/Son_of_Sardaar_2
8338,So Long Valley,2025,https://en.wikipedia.org/wiki/So_Long_Valley

In [8]:
rows = []

for _, row in df_filter.head(10).iterrows():
    url = row["wikipedia_url"]

    try:
        response = requests.get(url, timeout=10)
        doc = BeautifulSoup(response.text, "html.parser")
        table = doc.find('table', class_=lambda x: x and 'infobox' in x)
        if not table:
            continue

        data = {
            'title': row["title"],
            'year': row["year"],
            'wikipedia_url': url
        }

        try:
            data['Title_wiki'] = table.find('th', class_=lambda x: x and 'infobox-above' in x).get_text(strip=True)
        except:
            data['Title_wiki'] = None

        try:
            data['Director'] = table.find('th', string="Directed by").find_next_sibiling('td').get_text(strip=True)
        except: 
            row['Director'] = None

        rows.append(data)

        # Pause to avoid 429
        sleep(random.uniform(0.5, 1.0))

    except Exception as e:
        print(f"Error fetching {url}: {e}")

# Convert to DataFrame when done
df_final = pd.DataFrame(rows)

In [9]:
df_final.head()

,title,year,wikipedia_url,Title_wiki
0,Kanoon,1960,https://en.wikipedia.org/wiki/Kanoon,Kanoon
1,Bewaqoof,1960,https://en.wikipedia.org/wiki/Bewaqoof,Bewaqoof (Movie)
2,Love in Simla,1960,https://en.wikipedia.org/wiki/Love_in_Simla,Love in Simla
3,Anuradha,1960,https://en.wikipedia.org/wiki/Anuradha_(1960_f...,Anuradha
4,Mughal-E-Azam,1960,https://en.wikipedia.org/wiki/Mughal-e-Azam,Mughal-e-Azam